:host {
    display: block;
}

.inquiry-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 30px 10px 30px;
}

.inquiry-form-container form div {
    width: 500px;
    margin-bottom: 15px;
}

.button-container {
    display: flex;
    justify-content: center;
}

button {
    width: 150px;
    margin-top: 20px;
    margin-bottom: 0px;
    background-color: #0078E8;
}