<section class="inquiry-form-container">
    <form>
        <div class="form-floating">
            <select class="form-select">
                <option value="" selected disabled>Seleccione una opción...</option>
            </select>
            <label for="areaSelect">Título del Empleo</label>
        </div>
        <div class="form-floating">
            <select class="form-select">
                <option value="" selected disabled>Seleccione una opción...</option>
            </select>
            <label for="locationSelect">Locación</label>
        </div>
        <div class="form-floating">
            <select class="form-select">
                <option value="" selected disabled>Seleccione una opción...</option>
            </select>
            <label for="puestoSelect">Puesto</label>
        </div>
        <div class="form-floating">
            <select class="form-select">
                <option value="" selected disabled>Seleccione una opción...</option>
            </select>
            <label for="nivelSelect">Nivel de experiencia</label>
        </div>
    </form>
</section>