:host {
  display: block;
}

.create-salary-page {
  padding: 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro-text {
  text-align: center;
}

.content-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;  
}

.content-box {
  background-color: #FFFBFB;
  border-radius: 20px;
  color: #000000;
}

.form-container {
  width: 600px;
  min-height: 200px;
  color: #000000;
}

.stats-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
  height: 100%;
}

.stats-container div {
  width: 200px;
}

.stats-container .redirection-container {
  height: 85px;
}

.stats-container .avg-container {
  height: 200px;
}

.stats-container .info-container {
  height: 85px;
}

.card-registro {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.card-registro a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.avg-container{
  padding-top: 10px;
}

/* Primer hijo */
.avg-container>div:first-child {
  padding: 5px;
  text-align: center;
}

/* Segundo hijo (si solo hay 2) */
.avg-container>div:last-child {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px;
}